.logo img {
    width: 100%; /* ปรับให้ขนาดเป็นเปอร์เซ็นต์ของ container */
    max-height: 100px;
    height: 100%;
}

.background {
    background: transparent;
    background-color: rgb(0, 0, 0) !important;
}

.nav-item:hover .nav-link:hover {
    color: rgb(112, 112, 112) !important;
}

.navbar-toggler-icon {
    filter: invert(1); /* เปลี่ยนสีของไอคอนเป็นสีขาว */
}

.dropdown-item:hover {
    background-color: #444d4b;
    transform: translateY(-2px);
}

.nav_dropdown_text {
    transition: background-color 0.3s ease, transform 0.2s ease; 
    white-space: nowrap;
}

.dropdown_head {
    background-color: #000000; 
    border-radius: 0.7rem; 
    padding: 0; 
    min-width: 100%; 
    width: 100%; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial sans-serif;
}

.container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    flex: 1;
    min-width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 10px;
}

.card .content {
    padding: 15px;
}

.card .content h3 {
    font-size: 26px;
    margin-bottom: 10px;
    color: black;
}

.card .content p {
    font-size: 17px;
    color: rgb(44, 43, 43);
    line-height: 1.3;
}